body{
    font-family: 'Poppins', sans-serif;
}
:root{
    --heading : #202138;
    --text : #5F6368;
    --back : #F5F9FF;
}

/* #####################
   ######## NAVBAR 
   #####################
*/

#n-bar .navbar-brand img{
    margin-top: 5px;
    height: 125px;
    width: 250px;
}

#n-bar .navbar{
    height: 15vh;
}

#n-bar .nav_links{
    width: auto;
    /* padding-right: 1.5em; */
}

#n-bar .nav_links a{
    /* margin-right: 1.5em; */
    padding-right: 2em; 
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 14px;
    overflow: hidden;
    white-space : nowrap;
}


#n-bar .nav_btn{
    color: white;
    border: 1.5px solid white;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    background-color: transparent;
    width: 160px;
    height: 35px;
}

/*  #########################
    ############### FACE
    ############################
*/

#face{
    background-image: url("/images/image.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFFFFF;

    padding: 0 12em;
    position: relative;
    top: -15vh;
    z-index: -1;

}

#face .cont h1{
    font-weight: 700;
    font-size: 6em;
    letter-spacing: 17px;
}

#face .cont p{
    margin-top: -15px;
    font-weight: 400;
    font-size: 1.5em;
}

#face .row{
    margin-top: 2em;
}

#face .cont .b_group{
    margin-right: -80px;
  
}

#face .cont .b_therapist{
    margin-left: -80px;
    cursor: pointer;
}

#face .cont .b_group button{
    width: 180px;
    height: 45px;
    background-color: transparent;
    color: white;
    border: 3px solid white;
    outline: none;
    border-radius: 6px;
    font-weight: 500;
    font-size: 1.1em;
    cursor: pointer;
}

#face .cont .b_therapist button{
    width: 180px;
    height: 45px;
    background-color: #79ACEC;
    color: white;
    border: 3px solid #79ACEC;
    outline: none;
    border-radius: 6px;
    font-weight: 500;
    font-size: 1.1em;
}

#face .cont .icon_row{
    margin-top: 2em;
}

#face .cont .icon_row .icon_svg{
    padding: 0 1em;
    text-decoration: none;
}

#face .cont .icon_row .icon_svg img{
    height: 35px;
    width: 35px;
}

/* ##########
#############CONFIRM
########### */

#mkc2{
    padding: 6em 5em;
}

#mkc2 .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.5em 1em;
    width: 90%;
    background-color: var(--back);
    margin-top:-55vh;
    border-radius: 10px;   
}
#mkc2 .container h1{
    font-weight: 400;
    font-size: 3em;
}
.form-control{
    background-color: #F5F9FF;
    padding:1em 2em;
    border-color: #171717;
    margin-top:3em;
    text-align: left;
    outline: none;
}
.form-control:focus{
    box-shadow: none;
    border-color:#171717;
    background-color: #F5F9FF;
    
}
.form_ka_btn{
    margin-top: 2.5em;
    text-align: center;
    width: 100%;
    height: 3em;
    background-color: #79ACEC;
    color: #FFFFFF;
    border: 3px solid #79ACEC;
    outline: none;
    border-radius: 6px;
    font-weight: 500;
    font-size: 1.1em;
}

#mkc2 .main_heading h1{
    font-weight: 400;
    font-size: 4em;
}

/*
    #########################
    ############### FOOTER
    ############################
*/

#footer {
    padding: 6em 5em 1em 5em;
    background-color: var(--back);
    color: var(--text);
    margin-top: 5em;
}

#footer img{
    height: 75%;
    width: 75%;
}

#footer .footer_links ul{
    margin-bottom: 1em;
}

#footer .footer_links li{
    list-style: none;
    margin-bottom: 1em;
}
#footer .footer_links a{
    text-decoration: none;
    color: var(--text);
    font-size: 16px;
}