body{
    font-family: 'Poppins', sans-serif;
}
:root{
    --heading : #202138;
    --text : #5F6368;
    --back : #F5F9FF;
}

/* #####################
   ######## NAVBAR 
   #####################
*/

#n-bar .navbar-brand img{
    margin-top: 5px;
    height: 125px;
    width: 250px;
}

#n-bar .navbar{
    height: 15vh;
}

#n-bar .nav_links{
    width: auto;
    /* padding-right: 1.5em; */
}

#n-bar .nav_links a{
    /* margin-right: 1.5em; */
    padding-right: 2em; 
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 14px;
    overflow: hidden;
    white-space : nowrap;
}


#n-bar .nav_btn{
    color: white;
    border: 1.5px solid white;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    background-color: transparent;
    width: 160px;
    height: 35px;
}
/*  #########################
    ############### FACE
    ############################
*/

#face{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFFFFF;

    padding: 0 12em;
    position: relative;
        top: -15vh;
        z-index: -1;

}
#face{
    background-image: url("../images/image.png");
    
}

#face .cont h1{
    font-weight: 00;
    font-size: 6em;
    letter-spacing: 10px;
}

#face .cont p{
    margin-top: -15px;
    font-weight: 400;
    font-size: 1.5em;
}

#face .row{
    margin-top: 2em;
}

#face .cont .b_group{
    margin-right: -9em;
  
}

#face .cont .b_therapist{
    margin-left: -9em;
    cursor: pointer;
}

#face .cont .b_group button{
    width: 180px;
    height: 45px;
    background-color: transparent;
    color: white;
    border: 3px solid white;
    outline: none;
    border-radius: 6px;
    font-weight: 500;
    font-size: 1.1em;
    cursor: pointer;
}

#face .cont .b_therapist button{
    width: 180px;
    height: 45px;
    background-color: #79ACEC;
    color: white;   
    border: 3px solid #79ACEC;
    outline: none;
    border-radius: 6px;
    font-weight: 500;
    font-size: 1.1em;
}

/*  
    #########################
    ###############SECTION 1
    ############################
*/

#mkc1{
    margin-top: -15vh;
    padding: 6em 5em;
    background-color: var(--back);
}

#mkc1 .left-ka-dabba h1{
    color: var(--heading);
    font-size: 45px;
    width: 95%;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

#mkc1 .left-ka-dabba p{
    color: var(--text);
    width: 85%;
    font-size: 20px;
    margin-bottom: 2.5em;
}

#mkc1 .baap_ka_button button{
    width: 250px;
    height: 45px;
    background-color: transparent;
    color: #79ACEC;
    border: 3px solid #79ACEC;
    outline: none;
    border-radius: 6px;
    font-weight: 500;
    font-size: 1.1em;
}

#mkc1 .right-ka-dabba img{
    margin-left: 5em;
    margin-bottom: -2em;
    height: 80%;
    width: 80%;
}

/*  
    #########################
    ###############SECTION 2 
    ############################
*/

#mkc2{
    padding: 6em 5em;
}

#mkc2 .left-ka-dabba{
    text-align: right;
}

#mkc2 .left-ka-dabba h1{
    color: var(--heading);
    font-size: 45px;
    width: 100%;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

#mkc2 .left-ka-dabba p{
    color: var(--text);
    width: 100%;
    font-size: 20px;
    margin-bottom: 2.5em;
}

#mkc2 .baap_ka_button button{
    width: 180px;
    height: 45px;
    background-color: transparent;
    color: #79ACEC;
    border: 3px solid #79ACEC;
    outline: none;
    border-radius: 6px;
    font-weight: 500;
    font-size: 1.1em;
}
#mkc2 .right-ka-dabba img{
    margin-top: -2em;
    /* margin-right: 5em; */
    margin-bottom: -2em;
    height: 90%;
    width: 90%;
}
/*
    #########################
    ############### FOOTER
    ############################
*/

#footer {
    padding: 6em 5em 1em 5em;
    background-color: var(--back);
    color: var(--text);
}

#footer img{
    height: 75%;
    width: 75%;
}

#footer .footer_links ul{
    margin-bottom: 1em;
}

#footer .footer_links li{
    list-style: none;
    margin-bottom: 1em;
}
#footer .footer_links a{
    text-decoration: none;
    color: var(--text);
    font-size: 16px;
}

#footer .footer_links a:hover{
    color: var(--heading);
}

#footer hr{
    height: 1.5px;
}

#footer .f_copy p{
    font-size: 16px;
}

#footer .f_social{
    /* justify-content: right; */
    text-align: right;
}

#footer .f_social img{
    height: 30px;
    width: 30px;
    margin: 0 0.5em;
}
